<mat-card>
  <mat-form-field>
    <mat-label>Search tweet</mat-label>
    <input (ngModelChange)="executeSearch()" [(ngModel)]="searchText" matInput placeholder="Ex. Appodeal" type="text">
    <button (click)="searchText=''" *ngIf="searchText" aria-label="Clear" mat-button mat-icon-button matSuffix>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</mat-card>
<div class="tweets-container">
  <mat-card *ngFor="let tweet of tweets" class="card">
    <mat-card-header>
      <img [src]="tweet.user.profile_image_url" mat-card-avatar/>
      <mat-card-title>{{tweet.user.name}}</mat-card-title>
      <mat-card-subtitle>@{{tweet.user.screen_name}} <span>{{tweet.created_at | date}}</span></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{tweet.text}}
      </p>
    </mat-card-content>
  </mat-card>
</div>
